<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tusharnaik.kartman" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/cartman"

        android:theme="@style/AppTheme" >
        <activity
            android:name=".StartScreen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Sample"
            >
        </activity>
        <activity
            android:name=".Sample2"
        >
        </activity>
        <activity
            android:name=".ResultScreen"
           >
        </activity>
    </application>

</manifest>
